$lightDarkGrey: rgba(132, 132, 132, 0.46);
$darkBlue: rgba(18, 41, 123, 0.88);
$paperGrey: rgba(248, 248, 248, 0.44);
$paperDarkerGrey: rgba(255, 252, 252, 0.64);

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    .pop-up-box {
        width: 1200px;
        height: 400px;
        .header {
            height: 50px;
            background-color: $darkBlue;
            color: white;
            font-size: 2rem;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:  5px 10px 5px 55px;
            .white-rect {
                width: 25px;
                height: 4px;
                background-color: white;
            }
        }
        .box-bottom {
            height: 100%;
            border-bottom: $lightDarkGrey solid 2px;
            border-left: $lightDarkGrey solid 2px;
            border-right: $lightDarkGrey solid 2px;
            border-radius: 1px;
            display: flex;
            align-items: flex-end;
            background-color: $paperGrey;
            .bottom-inner-box {
                height: 100%;
                width: 100%;
                .empty-row {
                    height: 2%;
                    border-bottom: $lightDarkGrey solid 2px;
                }
                .header-row {
                    height: 12%;
                    padding: 7px 20px;
                    border-bottom: $lightDarkGrey solid 2px;
                }
            }
        }
    }
}


.row-container {
    height: 100%;
    display: flex;
    align-items: center;
    h3 {
        font-weight: 600;
    }
}
.left {
    width: 15%;
}
.right {
    width: 85%;
    display: flex;
    justify-content: space-around;
}